/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import "compass/css3";
@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Monoton);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
li a.active {
	color: rgb(12, 240, 61);
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    max-width: calc(100% - 100px);
    width: 1200px;
}

@media screen and (max-width: 1280px) {

    .container {
        width: 100%;
    }

}

@media screen and (max-width: 980px) {

    .container {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    .container {
        width: 100%;
        max-width: 100%;
    }

    #wrapper {
        width: 100%;
    }

}

#header .inner img {
    height: 100px;
    width: 100px;
    margin-top: -33%;
}

#header {
    position: relative;
    border-radius: 10px;
    background: #312450;
    padding: 0.75em;
    margin-bottom: 0;
}

#header-wrapper {
    background-image: url("https://wallpaperplay.com/walls/full/f/3/8/254067.jpg");
    background-position: top left, center center;
    background-size: auto, cover;
    padding: 3em 0;
    height: 90%;
    border-bottom: 2px solid black;
}

    #header .inner {
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
        position: relative;
        height: 5.5em;
        background-color: #3B3E45;
        background-color: rgba(59, 62, 69, 0.9);
        border-radius: 8px;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.45), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.15);
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    }

    #header h1 {
        position: absolute;
        left: 1.75em;
        top: 50%;
        margin-top: -0.65em;
        font-size: 1.5em;
        color: #fff;
    }

    #main-wrapper {
        padding: 88px;
    }

    @media screen and (max-width: 736px) {

        #main-wrapper p {
            margin-bottom: 10%;
            width: 100%;
            max-width: 100%;
        }

    }

    #nav {
		position: absolute;
		right: 2em;
		top: 0;
		line-height: 5.5em;
    }
    
    @media screen and (max-width: 980px) {
    
        #header {
            width: 100%;
            max-width: 100%;
        }

        .inner {
            width: 100%;
            max-width: 100%;
        }

        #nav {
            font-size: 0.69em;
            margin-top: 1.5%;
            max-width: 100%;
        }

    }

    @media screen and (max-width: 736px) {

    #header {
        width: 100%;
        max-width: 100%;
    }

    #nav {
        font-size: .45em;
        margin-top: 6.5%;
        width: 95%;
        max-width: 100%;
    }

    }

		#nav > ul > li {
			float: left;
			padding: 0 0.8em 0 0.8em;
		}

			#nav > ul > li > a, #nav > ul > li > span {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 800;
				font-size: 0.95em;
				letter-spacing: 0.075em;
				padding: 0.5em 0.8em 0.5em 0.8em;
				border-radius: 6px;
				outline: 0;
			}


			#nav > ul > li:last-child {
				padding-right: 0;
			}

			#nav > ul > li > ul {
				display: none;
			}

	/* .dropotron {
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
		background-image: linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
		position: relative;
		background-color: #3B3E45;
		background-color: rgba(59, 62, 69, 0.9);
		border-radius: 8px;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.075), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
		padding: 1.5em;
		line-height: 2.5em;
		min-width: 15em;
	}

		.dropotron.level-0 {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-top: -2px;
			box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.075), 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
		}

		.dropotron a, .dropotron span {
			color: #aaa;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 0.8em;
			letter-spacing: 0.075em;
			outline: 0;
		}

		.dropotron li:hover > a, .dropotron li:hover > span {
			color: #fff;
		} */


#myCarousel {
    width: 65%;
    margin-left: 17%;
    border: 2px solid black;
}

@media screen and (max-width: 1280px) {

    .carousel-caption {
        width: 100%;
    }

}

@media screen and (max-width: 980px) {

    .carousel-caption {
        width: 100%;
        font-size: 20px;
        margin-left: -100px;
    }

}

@media screen and (max-width: 736px) {

    .carousel-caption {
        width: 100%;
        font-size: 12px;
        margin-left: -40px;
    }

    #myCarousel {
        width: 75%;
        margin-left: 12.5%;
    }


}

.item img {
    width: 100%;
}

    header {
		margin: 0 0 2em 0;
	}

		header h2, header h3 {
			margin: 0 0 0.25em 0;
		}

		header p {
			display: block;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.065em;
			font-size: 1.2em;
			color: #FFFFFF;
			margin: 0;
		}

			header p strong {
				color: #FFFFFF;
				font-weight: 800;
			}

header.major {
    border-bottom: solid 1px #dbdbdb;
    margin: 0 0 3em 0;
}

    header.major:after {
        content: '';
        display: block;
        border-top: solid 1px #dbdbdb;
        height: 8px;
    }

    header.major h2, header.major h3 {
        margin: 0 0 1.2em 0;
    }

    header.major p {
        margin: 0 0 1.5em 0;
        position: relative;

        margin-top: -1.5em;
    }

    .major h2 {
        display: block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2.4em;
		color: #FFFFFF;
		margin: 0;
    }

    #intro {
        margin-top: 2em;
        width: 100%;
    }

    .bookr {
        position: relative;
        font-family: 'Permanent Marker', cursive;
        font-variant: small-caps;
        font-size: 80px;
        -webkit-transform: skew(-8deg,-8deg);
        padding-left: 80px;
        background-image: -webkit-linear-gradient(#5E42A6 0%,  #F9F9F7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 30px;
        -webkit-filter: drop-shadow(2px 2px 30px #D845FF);
      }

    @media screen and (max-width: 1280px) {

        .bookr {
            width: 100%;
        }

    }

    @media screen and (max-width: 980px) {

        .bookr {
            width: 125%;
            font-size: 50px;
            margin-left: -10%;
        }

        .bookr:after {
            left: 80px;
            bottom : -18px;
        }

    }

    @media screen and (max-width: 736px) {

        .bookr {
            width: 130%;
            font-size: 15px;
            margin-top: -40px;
            margin-left: -30%;
        }

        .bookr:after {
            left: 60px;
            bottom: -15px;
        }

    }

      .mid {
        margin: auto;
        width: 48%;
      }

      @media screen and (max-width: 980px) {

         .mid {
             width: 100%;
         }
      }

      @media screen and (max-width: 736px) {

         .mid {
             width: 100%;
         }

         .pic1 {
            display: none;          
         }

         .pic2 {
             width: 100%;
             height: auto;
         }

      }



      #container2 {
        display: inline-flex;
        text-align: left;
        padding: 2px;
        margin: auto 0;
      }

      a img {
        border-radius: 5px;
      }

      #container2 h3 {
        text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 0.04em;
		color: #404248;
		margin: 0 0 1em 0;
        margin-top: 12px;
      }

      #container2 p {
        text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.04em;
		color: #404248;
		margin: 0 0 1em 0;
          margin-top: 3px;
      }

      .pic1 {
          padding: 20px;
      }

      .pic2 {
          padding: 20px;
      }

      #mid-wrapper {
          width: 100%;
      }

      #footer {
        font-family: 'Permanent Marker', cursive;
        color: #404248;
        font-size: 22px;
        letter-spacing: 0.075em;
        padding: 0.8em 1em 0.8em 1em;
        text-align: center;
        background-color: #312450;
      }

      @media screen and (max-width: 736px) {

       #footer {
           width: 100%;
       }

      }


